<?xml version='1.0' encoding='utf-8'?>
<plugin id="scan-code" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
    <name>scan-code</name>
    <js-module name="ScanCode" src="www/scan-code.js">
        <clobbers target="cordova.ScanCode" />
    </js-module>
<!--添加Android平台  -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <!-- JS调用时的名字 -->
            <feature name="ScanCode">
                <!-- value：的值是对应的插件中ToastDemo.java存放的路径 -->
                <param name="android-package" value="io.cordova.hellocordova.ScanCode"/>
            </feature>
        </config-file> 
        <!-- src:是插件里存放对应.java的路径， target-dir:安装插件时把.java文件存放的位置，要和上面的value路径对应 -->
        <source-file src="src/android/ScanCode.java" target-dir="src/io/cordova/hellocordova" />
    </platform> 
</plugin>
